.Addpost {
    width: 100%;
    padding: 1rem;
    background: var(--cardColor);
    border-radius: 1rem;
    box-sizing: border-box;
}

.addpost-input {
    width: 100%;
    align-items: center;
    display: flex;
    flex: 3rem auto;
    gap: 1rem;
}

.addpost-prof-image {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}

.addpost-caption {
    background: transparent;
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 0.8rem;
    width: max-content;
    width: 90%;
}

.addpost-options {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.i {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.i span {
    font-size: 1rem;
}


/* Icon color */

.image-icon {
    color: rgb(89, 148, 0);
}

.video-icon {
    color: purple;
}

.location-icon {
    color: var(--location);
}

.schedule-icon {
    color: var(--schedule);
}


/* previews */

.previewImage {
    position: relative;
}

.previewImage svg {
    font-size: 1.4rem;
    position: absolute;
    right: 1rem;
    top: 2rem;
}

.previewImage img {
    margin-top: 1.5rem;
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

@media (max-width: 450px) {
    .i span {
        /* display: none; */
        font-size: 8px;
    }
}

@media (min-width: 1000px) and (max-width: 1080px) {
    .i span {
        font-size: 10px;
    }
}