.Post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Post img {
    height: 400px;
    /* margin: 0.2rem; */
}


/* 
.Post-detail {
    margin: 0.2rem;
} */