.Auth {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 100vh;
}

.Auth-left {
    display: flex;
    align-items: center;
}

.Auth-left img {
    width: 20rem;
}

.WebsiteName h1 {
    font-size: 3rem;
    background-color: red;
    background-image: var(--buttonBg);
    background-size: 100%;
    background-repeat: repeat;
    /* text mask */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
}

.WebsiteName h6 {
    font-size: 1rem;
}

.Auth-right {
    width: 30%;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
}

.SignUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.SignUpForm h3 {
    font-size: 1.4rem;
    margin: auto;
}

.SignUpForm div {
    display: flex;
    gap: 1rem;
    height: max-content;
    width: 100%;
    flex-wrap: wrap;
}

.signup-info {
    border: none;
    outline: none;
    background-color: var(--inputColor);
    flex: 1;
    border-radius: 8px;
    padding: 1.4rem;
}

.SignUpForm span {
    font-size: 12px;
    color: var(--gray);
    cursor: pointer;
}

.info-btn {
    margin-left: 1rem;
}

@media (max-width: 1000px) {
    .Auth {
        flex-direction: column;
    }
    .Auth-right {
        width: 80%;
    }
}

@media (max-width: 680px) {
    .Auth-left {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .WebsiteName {
        /* display: none; */
        text-align: center;
    }
}