.profile-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    width: 90%;
    align-items: center;
    justify-content: center;
    background-color: var(--cardColor);
    overflow: clip;
}

.profile-images {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.profile-images img:nth-of-type(1) {
    width: 100%;
}

.profile-images img:nth-of-type(2) {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    box-shadow: var(--profileshadow);
}

.profile-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.3rem;
    margin-bottom: 1rem;
    gap: 10px;
}

.profile-name {
    font-weight: 700;
}

.follow-status {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.follow-status hr {
    width: 90%;
    height: 1.4px;
    border-width: 0;
    background-color: rgb(174, 174, 174);
}

.f-status {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.followers,
.followings,
.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0px 5px;
}

.followers,
.followings {
    padding-right: 1rem;
    border-right: 1px solid var(--hrColor);
}

.profile-link {
    font-weight: 700;
    color: orange;
    cursor: pointer;
    align-self: center;
    padding: 1rem 0rem;
}